{% extends 'home/base.html' %}

{% block content %}
{#Photo slider#}
<div id="slides" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        {% for slider_photo in slider_photos %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
            {% load static %}
            <img src="{% static slider_photo.path %}" class="d-block w-100 h-100">
            <div class="carousel-caption">
                <h1 class="text-uppercase display-4">{{ slider_photo.title }}</h1>
                <p class="text-light d-none d-sm-block">{{ slider_photo.description }}</p>
                <button type="button" class="btn btn-outline-light btn-lg">Buy a print</button>
            </div>
        </div>
        {% endfor %}

        <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

{#Jumbotron welcome message#}
<div class="container-fluid">
<div class="row jumbotron">
    <div class="col-12">
        <h1>Welcome to my portfolio!</h1>
        <p class="text-align-center">I am a self-educated photographer. On my portfolio you can find photographs of
            nature, architecture, and here and there some portraits.
        </p>
    </div>
</div>
</div>

{#Gallery showcase#}
<div class="container-fluid showcase">

<div class="tabs pt-4">
    <ul class="nav nav-tabs nav-justified" id="categoryTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="landscapes-tab" data-toggle="tab" href="#landscapes"
                role="tab" aria-controls="landscapes" aria-selected="true">Landscapes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cityscapes-tab" data-toggle="tab" href="#cityscapes"
            role="tab" aria-controls="cityscapes" aria-selected="false">Cityscapes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="moments-tab" data-toggle="tab" href="#moments"
            role="tab" aria-controls="moments" aria-selected="false">Life moments</a>
        </li>
    </ul>
</div>


<div id="gallery" class="tab-content gallery">
    <div class="tab-pane fade show active" id="landscapes" role="tabpanel" aria-labelledby="landscapes-tab">
        {% for gallery_photo in gallery_landscapes %}
        <div class="container">
            {% load static %}
            <a href="{% static gallery_photo.path_original %}"><img src="{% static gallery_photo.path %}"></a>
            <div class="hover-info">
                <h1 class="text-light photo-title"> {{ gallery_photo.title }} </h1>
                <button type="button" class="btn btn-outline-light btn-lg btn-lg">Buy print</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="tab-pane fade" id="cityscapes" role="tabpanel" aria-labelledby="cityscapes-tab">
    {% for gallery_photo in gallery_cityscapes %}
    <div class="container">
        {% load static %}
        <a href="{% static gallery_photo.path_original %}"><img src="{% static gallery_photo.path %}"></a>
        <div class="hover-info">
            <h1 class="text-light display-4"> {{ gallery_photo.title }} </h1>
            <button type="button" class="btn btn-outline-light btn-lg btn-lg">Buy print</button>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock content %}