@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: #888888;
}

#slides {
    z-index: 0;
}

.navbar, navbar-expand-md {
    z-index: 10;
    background-color: transparent !important;
    transition: .3s ease;
    padding: 1rem 1.5rem;
}

.nav-item a, .navbar-brand {
    font-size: 1rem;
}

.non-transparent {
    background-color: #434343 !important;
    transition: .3s ease;
}

.nav-link, .navbar-brand {
    /*font-size: large;*/
}

.nav-tabs .nav-link {
    /*font-size: x-large;*/
    color: white;
}

.carousel-caption {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-caption h1 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 0.9;
}

.carousel-caption p, .carousel-caption button {
    font-size: 0.8rem;
}

.jumbotron {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.jumbotron h1 {
    font-size: 2.5rem;
}
.jumbotron p {
    font-size: 1rem;
}

.showcase {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#888888+0,e9ecef+100 */
    background: #888888; /* Old browsers */
    background: -moz-linear-gradient(top,  #888888 0%, #e9ecef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #888888 0%,#e9ecef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #888888 0%,#e9ecef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#e9ecef',GradientType=0 ); /* IE6-9 */
}

.tabs {
    transition: .5s ease;
}

.tabs-fixed {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #505050;
    width: 100%;
    padding: 10px 5px;
    margin: 0;
    z-index: 1;
    transition: .5s ease;
}

.gallery {
    padding: 40px;
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
}

.gallery .tab-pane a img {
    width: 100%;
    padding: 7px 0;
    border-radius: 15px;
}

.tab-pane .container {
    position: relative;
    padding: 0;
}

.hover-info {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.tab-pane .container:hover a img {
    opacity: 0.5;
}

.hover-info h1 {
    font-weight: 500;
    line-height: 0.9;
}

.hover-info button {
    font-size: 1rem;
}

.tab-pane .container:hover .hover-info {
    opacity: 1;
    transition: 1s ease;
}

.sl-overlay {
    opacity: 0.9;
}

@media (min-width: 576px){

}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}